@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --lightBlue-bg: rgba(105, 128, 157, 1);
  --vt323: 'VT323', monospace;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--lightBlue-bg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: var(--black);
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  color: yellow;
}

.texture-selector {
  transform: scale(1);
}

.texture-selector img.active {
  border: 0.25rem solid yellow;
}

.texture-selector {
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  width: 15%;
}

.texture-selector img {
  width: 20%;
  border: 0.25rem solid transparent;
}

.menu {
  top: 1rem;
  left: 0.5rem;
}

.menu button {
  padding: 0.25rem 0.5rem;
  margin-right: 0.3rem;
  border: 0.125rem solid #545454;
  font-family: var(--vt323);
  cursor: pointer;
  color: #545454;
  background-color: #d2d2d2;
  font-weight: bold;
}

.controls {
  font-family: var(--vt323);
  display: flex;
  flex-direction: column;
  background-color: #d2d2d2;
  top: 3.5rem;
  left: 0.5rem;
  border: 0.125rem solid #545454;
  overflow: hidden;
  padding-bottom: 0.3rem;
  color: #545454;
}

.controls .control {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0.7rem;
}

.controls .control p {
  margin: 0;
}

.controls h4 {
  margin: 0.4rem 0;
  text-align: center;
  text-decoration: underline;
}

.controls .toggle {
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease;
}

.controls .info-icon {
  position: absolute;
  cursor: pointer;
}

.rotate {
  transform: rotate(-180deg);
}

/************************************************* Media queries */

@media only screen and (min-width: 1201px){
  .controls {
    font-size: 1rem;
    width: 18%;
  }

  .controls .toggle {
    left: 2rem;
    font-size: 0.9rem;
    top: 0.5rem;
  }

  .controls .info-icon {
    right: 2rem;
    font-size: 0.9rem;
    top: 0.6rem;
  }

  .controls.fixed-height {
    height: 2.4rem;
  }

  .menu button {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 1200px){
  .controls {
    font-size: 0.9rem;
    width: 20%;
  }

  .controls .toggle {
    left: 2rem;
    font-size: 0.8rem;
    top: 0.5rem;
  }

  .controls .info-icon {
    right: 2rem;
    font-size: 0.8rem;
    top: 0.6rem;
  }

  .controls.fixed-height {
    height: 2.3rem;
  }

  .menu button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px){
  .controls {
    font-size: 0.8rem;
    width: 25%;
    top: 3.3rem;
  }

  .controls .toggle {
    left: 1.6rem;
    font-size: 0.8rem;
    top: 0.4rem;
  }

  .controls .info-icon {
    right: 1.6rem;
    font-size: 0.8rem;
    top: 0.5rem;
  }

  .controls.fixed-height {
    height: 2.1rem;
  }

  .menu button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px){
  .controls {
    font-size: 0.7rem;
    width: 30%;
    top: 3.3rem;
  }

  .controls .toggle {
    left: 1rem;
    font-size: 0.7rem;
    top: 0.4rem;
  }

  .controls .info-icon {
    right: 1rem;
    font-size: 0.7rem;
    top: 0.5rem;
  }

  .controls.fixed-height {
    height: 2rem;
  }

  .menu button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 470px){
  .controls {
    font-size: 0.6rem;
    width: 37%;
    top: 3.3rem;
  }

  .controls .toggle {
    left: 0.9rem;
    font-size: 0.6rem;
    top: 0.4rem;
  }

  .controls .info-icon {
    right: 0.9rem;
    font-size: 0.6rem;
    top: 0.5rem;
  }

  .controls.fixed-height {
    height: 1.9rem;
  }

  .menu button {
    font-size: 0.8rem;
  }
}